.segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  width: 500px;
}

.ui.form textarea {
  flex-grow: 1;
  min-height: 200px;
}

.calculateButton {
  margin-top: 10px;
  margin-left: 5px;
}
