.App {
  text-align: center;
  padding-top: 30px;
  background-color: #3d4657;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #3d4657;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}
