.App {
  text-align: center;
  padding-top: 30px;
  background-color: #3d4657;
  width: 100vw;
  height: 100vh;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  margin: 30px;
  background-color: #3d4657;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}
